Repository poanetwork/tokenbridge, pull requests merged in 2019-06, with the labels that each got.

#82 CI performance impovements
  .circleci/config.yml
  package.json
  ui-e2e/package.json
  ui-e2e/run-tests.sh
  ui/package.json
Labels: shared

#93 UI - New way of getting env variables
  .circleci/config.yml
  oracle/config/affirmation-request-watcher.config.js
  oracle/config/base.config.js
  oracle/config/foreign-sender.config.js
  oracle/config/home-sender.config.js
  oracle/env.js
  oracle/scripts/erc20_to_erc20/sendForeign.js
  oracle/scripts/erc20_to_erc20/sendHome.js
  oracle/scripts/erc20_to_native/sendForeign.js
  oracle/scripts/erc20_to_native/sendHome.js
  oracle/scripts/getValidatorStartBlocks.js
  oracle/scripts/initialChecks.js
  oracle/scripts/native_to_erc20/sendForeign.js
  oracle/scripts/native_to_erc20/sendHome.js
  oracle/scripts/privateKeyToAddress.js
  oracle/scripts/resetLastBlock.js
  oracle/src/events/processAffirmationRequests/index.js
  oracle/src/events/processCollectedSignatures/index.js
  oracle/src/events/processSignatureRequests/index.js
  oracle/src/events/processTransfers/index.js
  oracle/src/sender.js
  oracle/src/services/amqpClient.js
  oracle/src/services/gasPrice.js
  oracle/src/watcher.js
  oracle/test/test.env
Labels: UI

#99 Handle 'nonce too low' error message on oracle sender
  oracle/src/sender.js
  oracle/src/utils/utils.js
Labels: oracle

#86 Introducing E2E Commons
  README.md
  e2e-commons/README.md
  e2e-commons/constants.json
  e2e-commons/docker-compose.yml
  e2e-commons/down.sh
  e2e-commons/envs/erc-to-erc.env
  e2e-commons/envs/erc-to-native.env
  e2e-commons/envs/native-to-erc.env
  e2e-commons/scripts/blocks.js
  e2e-commons/scripts/deploy.sh
  e2e-commons/scripts/deployERC20.js
  e2e-commons/up.sh
  e2e-commons/utils.js
  oracle-e2e/LICENSE
  oracle-e2e/config.json
  oracle-e2e/constants.json
  oracle-e2e/deploy.js
  oracle-e2e/docker-compose.yml
  oracle-e2e/envs/bridge.env
  oracle-e2e/envs/contracts-deploy.env
  oracle-e2e/run-tests.sh
  oracle-e2e/test/ercToErc.js
  oracle-e2e/test/ercToNative.js
  oracle-e2e/test/nativeToErc.js
  ui-e2e/MetaMask.js
  ui-e2e/User.js
  ui-e2e/Utils.js
  ui-e2e/accounts/user42_7FC1.json
  ui-e2e/accounts/user77_7FC1.json
  ui-e2e/config.json
  ui-e2e/envs/erc-contracts.env
  ui-e2e/envs/erc-native-contracts.env
  ui-e2e/run-tests.sh
  ui-e2e/scripts/blocks.js
  ui-e2e/scripts/deploy.js
  ui-e2e/scripts/deployERC20.js
Labels: e2e

#104 Removed obsolete e2e deploy scripts
  oracle-e2e/package.json
  ui-e2e/package.json
Labels: e2e

#102 UI in docker
  Dockerfile.e2e
  e2e-commons/docker-compose.yml
  e2e-commons/up.sh
  oracle/Dockerfile
  ui/Dockerfile
  ui/README.md
  ui/docker-compose.yml
Labels: UI, shared

#106 Removed command in docker compose if entrypoint is present
  oracle/docker-compose.yml
Labels: e2e

#103 Improve sender retry strategy
  oracle/src/sender.js
  oracle/src/services/amqpClient.js
  oracle/src/utils/utils.js
  oracle/test/amqp.test.js
  oracle/test/test.env
Labels: oracle

#108 Increase of EXTRA_GAS_PERCENTAGE
  oracle/src/utils/constants.js
Labels: oracle

#109 Monitor in docker
  monitor/Dockerfile
  monitor/README.md
  monitor/crontab.example
  monitor/docker-compose.yml
  monitor/package.json
Labels: monitor

#111 Update the procedure to reset block in the deployment README
  deployment/oracle/README.md
Labels: bug, documentation

#112 Monitor - E2E
  .circleci/config.yml
  README.md
  e2e-commons/docker-compose.yml
  e2e-commons/up.sh
  monitor-e2e/README.md
  monitor-e2e/run-tests.sh
Labels: e2e, monitor

#113 Deployment structure and documentation
  deployment/CONFIGURATION.md
  deployment/EXECUTION.md
  deployment/README.md
  deployment/ansible.cfg
  deployment/group_vars/dai.yml
  deployment/group_vars/example.yml
  deployment/group_vars/wetc.yml
  deployment/hosts.yml.example
  deployment/oracle/README.md
  deployment/roles/dependencies/README.md
  deployment/roles/dependencies/defaults/main.yml
  deployment/roles/dependencies/files/daemon.json
  deployment/roles/dependencies/handlers/main.yml
  deployment/roles/dependencies/tasks/main.yml
  deployment/roles/jumpbox/README.md
  deployment/roles/jumpbox/defaults/main.yml
  deployment/roles/jumpbox/tasks/main.yml
  deployment/roles/logging/README.md
  deployment/roles/logging/defaults/main.yml
  deployment/roles/logging/tasks/main.yml
  deployment/roles/logging/templates/30-docker.conf.j2
  deployment/roles/logging/templates/35-remote-logging.conf.j2
  deployment/roles/logging/templates/docker-logs.j2
  deployment/roles/post_config/README.md
  deployment/roles/post_config/defaults/main.yml
  deployment/roles/post_config/tasks/main.yml
  deployment/roles/post_config/templates/key.j2
  deployment/roles/pre_config/README.md
  deployment/roles/pre_config/defaults/main.yml
  deployment/roles/pre_config/tasks/main.yml
  deployment/roles/pre_config/templates/.env.j2
  deployment/roles/repo/README.md
  deployment/roles/repo/defaults/main.yml
  deployment/roles/repo/tasks/main.yml
  deployment/roles/servinstall/README.md
  deployment/roles/servinstall/defaults/main.yml
  deployment/roles/servinstall/tasks/main.yml
  deployment/roles/servinstall/templates/poabridge.j2
  deployment/site.yml
Labels: deployment, documentation
