Repository poanetwork/tokenbridge, pull requests merged in 2019-05, with the labels that each got.

#29 Added bridge-monitor sub-repository
  bridge-monitor/.env.example
  bridge-monitor/.eslintrc
  bridge-monitor/.gitignore
  bridge-monitor/.prettierrc
  bridge-monitor/LICENSE
  bridge-monitor/README.md
  bridge-monitor/abis/BridgeValidators.abi.json
  bridge-monitor/abis/ERC20.abi.json
  bridge-monitor/abis/ERC677.abi.json
  bridge-monitor/abis/ERC677BridgeToken.abi.json
  bridge-monitor/abis/ForeignBridgeErc677ToErc677.abi.json
  bridge-monitor/abis/ForeignBridgeErcToErc.abi.json
  bridge-monitor/abis/ForeignBridgeErcToNative.abi.json
  bridge-monitor/abis/ForeignBridgeNativeToErc.abi.json
  bridge-monitor/abis/HomeBridgeErcToErc.abi.json
  bridge-monitor/abis/HomeBridgeErcToNative.abi.json
  bridge-monitor/abis/HomeBridgeNativeToErc.abi.json
  bridge-monitor/abis/IBlockReward.abi.json
  bridge-monitor/abis/RewardableValidators.abi.json
  bridge-monitor/alerts.js
  bridge-monitor/checkWorker.js
  bridge-monitor/checkWorker2.js
  bridge-monitor/checkWorker3.js
  bridge-monitor/crontab.example
  bridge-monitor/eventsStats.js
  bridge-monitor/getBalances.js
  bridge-monitor/getShortEventStats.js
  bridge-monitor/index.js
  bridge-monitor/logger.js
  bridge-monitor/package-lock.json
  bridge-monitor/package.json
  bridge-monitor/responses/.gitkeep
  bridge-monitor/stuckTransfers.js
  bridge-monitor/test-srv.js
  bridge-monitor/utils/bridgeMode.js
  bridge-monitor/utils/contract.js
  bridge-monitor/utils/ercUtils.js
  bridge-monitor/utils/events.js
  bridge-monitor/utils/validatorUtils.js
  bridge-monitor/validators.js
Labels: monitor, shared

#35 Extract general information into root readme
  README.md
  bridge-monitor/README.md
  bridge-ui/README.md
  deployment-bridge/README.md
  oracle/README.md
Labels: documentation, shared

#38 Update bridge monitor
  bridge-monitor/LICENSE
  bridge-monitor/package-lock.json
  monitor/.env.example
  monitor/.eslintrc
  monitor/.gitignore
  monitor/.prettierrc
  monitor/README.md
  monitor/abis/BridgeValidators.abi.json
  monitor/abis/ERC20.abi.json
  monitor/abis/ERC677.abi.json
  monitor/abis/ERC677BridgeToken.abi.json
  monitor/abis/ForeignBridgeErc677ToErc677.abi.json
  monitor/abis/ForeignBridgeErcToErc.abi.json
  monitor/abis/ForeignBridgeErcToNative.abi.json
  monitor/abis/ForeignBridgeNativeToErc.abi.json
  monitor/abis/HomeBridgeErcToErc.abi.json
  monitor/abis/HomeBridgeErcToNative.abi.json
  monitor/abis/HomeBridgeNativeToErc.abi.json
  monitor/abis/IBlockReward.abi.json
  monitor/abis/RewardableValidators.abi.json
  monitor/alerts.js
  monitor/checkWorker.js
  monitor/checkWorker2.js
  monitor/checkWorker3.js
  monitor/crontab.example
  monitor/eventsStats.js
  monitor/getBalances.js
  monitor/getShortEventStats.js
  monitor/index.js
  monitor/logger.js
  monitor/package.json
  monitor/responses/.gitkeep
  monitor/stuckTransfers.js
  monitor/test-srv.js
  monitor/utils/bridgeMode.js
  monitor/utils/contract.js
  monitor/utils/ercUtils.js
  monitor/utils/events.js
  monitor/utils/validatorUtils.js
  monitor/validators.js
  oracle/package.json
  package.json
  yarn.lock
Labels: monitor, shared

#41 Update Structure section with new sub-repo names
  README.md
Labels: shared

#42 Update deployment readmes
  deployment/README.md
  deployment/oracle/README.md
Labels: deployment, documentation, shared

#45 Extract oracle/e2e
  .circleci/config.yml
  oracle-e2e/.dockerignore
  oracle-e2e/.eslintrc
  oracle-e2e/.gitignore
  oracle-e2e/.nvmrc
  oracle-e2e/Dockerfile
  oracle-e2e/LICENSE
  oracle-e2e/README.md
  oracle-e2e/constants.json
  oracle-e2e/deploy.js
  oracle-e2e/docker-compose.yml
  oracle-e2e/envs/bridge.env
  oracle-e2e/envs/contracts-deploy.env
  oracle-e2e/envs/erc-contracts-deploy.env
  oracle-e2e/envs/erc-native-contracts-deploy.env
  oracle-e2e/package-lock.json
  oracle-e2e/package.json
  oracle-e2e/parity/Dockerfile
  oracle-e2e/parity/chain.json
  oracle-e2e/run-tests.sh
  oracle-e2e/scripts/deployERC20.js
  oracle-e2e/test/ercToErc.js
  oracle-e2e/test/ercToNative.js
  oracle-e2e/test/mocha.opts
  oracle-e2e/test/nativeToErc.js
  oracle-e2e/utils/utils.js
  oracle/README.md
  oracle/package.json
  package.json
  yarn.lock
Labels: oracle

#49 Extracting UI E2E
  .circleci/config.yml
  README.md
  package.json
  ui-e2e/MetaMask.crx
  ui-e2e/MetaMask.js
  ui-e2e/Page.js
  ui-e2e/README.md
  ui-e2e/User.js
  ui-e2e/Utils.js
  ui-e2e/accounts/user42_7FC1.json
  ui-e2e/accounts/user77_7FC1.json
  ui-e2e/config.json
  ui-e2e/contracts/Dockerfile
  ui-e2e/contracts/contracts.env
  ui-e2e/contracts/deploy.sh
  ui-e2e/contracts/deployERC20.js
  ui-e2e/contracts/erc-contracts.env
  ui-e2e/contracts/erc-native-contracts.env
  ui-e2e/docker-compose.yml
  ui-e2e/mainPage.js
  ui-e2e/package.json
  ui-e2e/parity/Dockerfile
  ui-e2e/parity/Dockerfile-foreign
  ui-e2e/parity/chain-foreign.json
  ui-e2e/parity/chain.json
  ui-e2e/run-tests.sh
  ui-e2e/scripts/blocks.js
  ui-e2e/test.js
  ui/e2e-script/bridge/Dockerfile
  ui/e2e-script/config.json
  ui/package-lock.json
  ui/package.json
Labels: UI

#59 Added Coveralls for UI
  .circleci/config.yml
  .coveralls.yml
  ui/README.md
Labels: UI

#61 Merge dotfiles
  .dockerignore
  .editorconfig
  .gitignore
  .nvmrc
  deployment/.gitignore
  deployment/oracle/.gitignore
  monitor/.gitignore
  oracle-e2e/.dockerignore
  oracle-e2e/.gitignore
  oracle-e2e/.nvmrc
  oracle/.dockerignore
  oracle/.nvmrc
  oracle/.nycrc
  ui/.dockerignore
  ui/.gitignore
  ui/.nvmrc
Labels: shared

#66 Change oracle production docker context
  oracle-e2e/docker-compose.yml
  oracle/.dockerignore
  oracle/Dockerfile
  oracle/docker-compose.yml
  oracle/package-lock.json
  ui-e2e/docker-compose.yml
Labels: oracle

#70 Migration of latest changes from the oracle and UI repos
  README.md
  oracle/README.md
  ui/README.md
Labels: documentation

#72 Update dependencies
  monitor/package.json
  oracle-e2e/package.json
  oracle/package.json
  oracle/scripts/compute-stats.js
  package.json
  ui-e2e/package.json
  ui/package.json
  ui/src/components/Configuration.js
  ui/src/components/Disclaimer.js
  ui/src/components/FeeStatistics.js
  ui/src/stores/AlertStore.js
  ui/src/stores/ForeignStore.js
  ui/src/stores/GasPriceStore.js
  ui/src/stores/HomeStore.js
  ui/src/stores/TxStore.js
  ui/src/stores/Web3Store.js
  yarn.lock
Labels: shared

#71 Oracle & Monitor - Compiled ABI's
  .circleci/config.yml
  .gitignore
  Dockerfile.e2e
  monitor/.eslintrc
  monitor/abis/BridgeValidators.abi.json
  monitor/abis/ERC20.abi.json
  monitor/abis/ERC677.abi.json
  monitor/abis/ERC677BridgeToken.abi.json
  monitor/abis/ForeignBridgeErc677ToErc677.abi.json
  monitor/abis/ForeignBridgeErcToErc.abi.json
  monitor/abis/ForeignBridgeErcToNative.abi.json
  monitor/abis/ForeignBridgeNativeToErc.abi.json
  monitor/abis/HomeBridgeErcToErc.abi.json
  monitor/abis/HomeBridgeErcToNative.abi.json
  monitor/abis/HomeBridgeNativeToErc.abi.json
  monitor/abis/IBlockReward.abi.json
  monitor/abis/RewardableValidators.abi.json
  monitor/checkWorker.js
  monitor/getBalances.js
  monitor/getShortEventStats.js
  monitor/utils/bridgeMode.js
  monitor/utils/events.js
  monitor/utils/validatorUtils.js
  monitor/validators.js
  oracle/.eslintrc
  oracle/Dockerfile
  oracle/abis/BridgeValidators.abi.json
  oracle/abis/ERC20.abi.json
  oracle/abis/ERC677BridgeToken.abi.json
  oracle/abis/ForeignBridgeErc677ToErc677.abi.json
  oracle/abis/ForeignBridgeErcToErc.abi.json
  oracle/abis/ForeignBridgeErcToNative.abi.json
  oracle/abis/ForeignBridgeNativeToErc.abi.json
  oracle/abis/HomeBridgeErcToErc.abi.json
  oracle/abis/HomeBridgeErcToNative.abi.json
  oracle/abis/HomeBridgeNativeToErc.abi.json
  oracle/config/affirmation-request-watcher.config.js
  oracle/config/base.config.js
  oracle/scripts/erc20_to_erc20/sendForeign.js
  oracle/scripts/erc20_to_erc20/sendHome.js
  oracle/scripts/erc20_to_native/sendForeign.js
  oracle/scripts/erc20_to_native/sendHome.js
  oracle/scripts/getValidatorStartBlocks.js
  oracle/scripts/initialChecks.js
  oracle/scripts/native_to_erc20/sendForeign.js
  oracle/scripts/native_to_erc20/sendHome.js
  oracle/src/events/processAffirmationRequests/index.js
  oracle/src/events/processCollectedSignatures/index.js
  oracle/src/events/processSignatureRequests/index.js
  oracle/src/events/processTransfers/index.js
  package.json
  ui/config-overrides.js
  ui/package.json
  ui/src/stores/ForeignStore.js
  ui/src/stores/HomeStore.js
  ui/src/stores/RootStore.js
  ui/src/stores/utils/bridgeMode.js
  ui/src/stores/utils/contract.js
Labels: contracts, oracle, shared

#76 Configurable port
  monitor/.env.example
  monitor/index.js
  ui-e2e/docker-compose.yml
  ui/.env.example
Labels: UI, monitor

#75 Updates after deployment test
  .gitignore
  README.md
  deployment/oracle/README.md
  deployment/oracle/roles/jumpbox/tasks/main.yml
  deployment/oracle/roles/logging/tasks/main.yml
  deployment/oracle/roles/logging/templates/30-docker.conf.j2
  deployment/oracle/roles/logging/templates/35-remote-logging.conf.j2
  deployment/oracle/roles/post_config/tasks/main.yml
  deployment/oracle/roles/pre_config/tasks/main.yml
  deployment/oracle/roles/repo/defaults/main.yml
  deployment/oracle/roles/servinstall/templates/poabridge.j2
  monitor/README.md
  monitor/checkWorker3.js
  monitor/stuckTransfers.js
  oracle-e2e/README.md
  oracle-e2e/run-tests.sh
  oracle/README.md
  oracle/docker-compose.yml
  oracle/docs/stress-testing.md
  oracle/package.json
  package.json
  ui-e2e/README.md
  ui-e2e/run-tests.sh
  ui/.env.example
  ui/README.md
  ui/package.json
  ui/src/components/SocialIcons.js
Labels: documentation, shared

#81 Fix error handling on monitor workers
  monitor/alerts.js
  monitor/checkWorker.js
  monitor/checkWorker2.js
  monitor/eventsStats.js
  monitor/getBalances.js
  monitor/getShortEventStats.js
  monitor/validators.js
Labels: monitor
