Repository poanetwork/tokenbridge, pull requests merged in 2019-07, with the labels that each got.

#122 Deployment testing specific branch
  deployment/TESTING.md
  deployment/molecule/default/molecule.yml
Labels: deployment

#117 E2E files linting
  oracle-e2e/.eslintrc
  oracle-e2e/package.json
  oracle-e2e/test/ercToErc.js
  oracle-e2e/test/ercToNative.js
  oracle-e2e/test/nativeToErc.js
  package.json
  ui-e2e/.eslintrc
  ui-e2e/MetaMask.js
  ui-e2e/Page.js
  ui-e2e/User.js
  ui-e2e/Utils.js
  ui-e2e/mainPage.js
  ui-e2e/package.json
  ui-e2e/test.js
Labels: e2e

#126 UI deployment
  deployment/CONFIGURATION.md
  deployment/EXECUTION.md
  deployment/group_vars/dai.yml
  deployment/group_vars/example.yml
  deployment/group_vars/wetc.yml
  deployment/hosts.yml.example
  deployment/roles/common/tasks/dependencies.yml
  deployment/roles/common/tasks/main.yml
  deployment/roles/common/tasks/python.yml
  deployment/roles/ui/meta/main.yml
  deployment/roles/ui/tasks/jumpbox.yml
  deployment/roles/ui/tasks/main.yml
  deployment/roles/ui/tasks/pre_config.yml
  deployment/roles/ui/tasks/servinstall.yml
  deployment/roles/ui/templates/.env.j2
  deployment/roles/ui/templates/tokenbridge-ui.j2
  deployment/site.yml
Labels: deployment

#137 Remove redis lock in oracle sender
  deployment/roles/oracle/defaults/main.yml
  deployment/roles/oracle/templates/.env.j2
  e2e-commons/docker-compose.yml
  oracle/.env.example
  oracle/README.md
  oracle/package.json
  oracle/src/sender.js
  oracle/src/services/redisClient.js
  yarn.lock
Labels: oracle

#135 Use mintedTotallyByBridge for bridge-ui statistics
  ui/src/stores/ForeignStore.js
  ui/src/stores/HomeStore.js
  ui/src/stores/__tests__/HomeStore.test.js
  ui/src/stores/utils/__tests__/contract.test.js
  ui/src/stores/utils/contract.js
Labels: UI

#133 Monitor deployment playbook
  deployment/CONFIGURATION.md
  deployment/EXECUTION.md
  deployment/group_vars/dai.yml
  deployment/group_vars/example.yml
  deployment/group_vars/wetc.yml
  deployment/hosts.yml.example
  deployment/roles/monitor/meta/main.yml
  deployment/roles/monitor/tasks/jumpbox.yml
  deployment/roles/monitor/tasks/main.yml
  deployment/roles/monitor/tasks/pre_config.yml
  deployment/roles/monitor/tasks/servinstall.yml
  deployment/roles/monitor/templates/.env.j2
  deployment/roles/monitor/templates/tokenbridge-monitor.j2
  deployment/site.yml
  monitor/Dockerfile
  monitor/docker-compose.yml
  monitor/package.json
Labels: deployment

#141 Yaml and Ansible linting in Molecule
  .circleci/config.yml
  README.md
  deployment/group_vars/dai.yml
  deployment/group_vars/example.yml
  deployment/group_vars/wetc.yml
  deployment/hosts.yml.example
  deployment/lint.sh
  deployment/molecule/Dockerfile
  deployment/molecule/default/molecule.yml
  deployment/molecule/default/prepare.yml
  deployment/molecule/docker-compose.yml
  deployment/roles/common/defaults/main.yml
  deployment/roles/common/handlers/main.yml
  deployment/roles/common/tasks/dependencies.yml
  deployment/roles/common/tasks/logging.yml
  deployment/roles/common/tasks/main.yml
  deployment/roles/common/tasks/repo.yml
  deployment/roles/monitor/meta/main.yml
  deployment/roles/monitor/tasks/jumpbox.yml
  deployment/roles/monitor/tasks/main.yml
  deployment/roles/monitor/tasks/pre_config.yml
  deployment/roles/monitor/tasks/servinstall.yml
  deployment/roles/oracle/defaults/main.yml
  deployment/roles/oracle/meta/main.yml
  deployment/roles/oracle/tasks/jumpbox.yml
  deployment/roles/oracle/tasks/logging.yml
  deployment/roles/oracle/tasks/main.yml
  deployment/roles/oracle/tasks/post_config.yml
  deployment/roles/oracle/tasks/pre_config.yml
  deployment/roles/oracle/tasks/servinstall.yml
  deployment/roles/ui/meta/main.yml
  deployment/roles/ui/tasks/jumpbox.yml
  deployment/roles/ui/tasks/logging.yml
  deployment/roles/ui/tasks/main.yml
  deployment/roles/ui/tasks/pre_config.yml
  deployment/roles/ui/tasks/servinstall.yml
  deployment/site.yml
  e2e-commons/docker-compose.yml
  monitor/docker-compose.yml
  oracle/docker-compose.yml
  package.json
  ui/docker-compose.yml
Labels: deployment

#140 Simplified ui-e2e linting rules
  ui-e2e/.eslintrc
  ui-e2e/MetaMask.js
  ui-e2e/Page.js
  ui-e2e/User.js
  ui-e2e/Utils.js
  ui-e2e/mainPage.js
  ui-e2e/test.js
Labels: e2e

#139 Added Commons sub-repository
  README.md
  commons/.eslintrc
  commons/README.md
  commons/abis.js
  commons/constants.js
  commons/index.js
  commons/package.json
  commons/test/constants.js
  commons/utils.js
  commons/v1Abis.js
  package.json
Labels: shared

#146 Oracle-E2E using Commons
  oracle-e2e/config.json
  oracle-e2e/test/ercToErc.js
  oracle-e2e/test/ercToNative.js
  oracle-e2e/test/nativeToErc.js
Labels: e2e, shared

#144 Oracle using Commons
  oracle/Dockerfile
  oracle/config/affirmation-request-watcher.config.js
  oracle/config/base.config.js
  oracle/scripts/erc20_to_erc20/sendForeign.js
  oracle/scripts/erc20_to_erc20/sendHome.js
  oracle/scripts/erc20_to_native/sendForeign.js
  oracle/scripts/erc20_to_native/sendHome.js
  oracle/scripts/getValidatorStartBlocks.js
  oracle/scripts/initialChecks.js
  oracle/scripts/native_to_erc20/sendForeign.js
  oracle/scripts/native_to_erc20/sendHome.js
  oracle/src/events/processAffirmationRequests/index.js
  oracle/src/events/processCollectedSignatures/index.js
  oracle/src/events/processSignatureRequests/index.js
  oracle/src/events/processTransfers/index.js
Labels: oracle, shared

#143 Monitor using Commons
  monitor/Dockerfile
  monitor/checkWorker.js
  monitor/getBalances.js
  monitor/stuckTransfers.js
  monitor/utils/bridgeMode.js
  monitor/utils/ercUtils.js
  monitor/utils/events.js
  monitor/utils/serverUtils.js
  monitor/utils/v1Abis.js
  monitor/utils/validatorUtils.js
  monitor/validators.js
Labels: monitor, shared

#147 UI deployment - Molecule tests
  .circleci/config.yml
  deployment/molecule/TESTING.md
  deployment/molecule/oracle/Dockerfile.j2
  deployment/molecule/oracle/molecule.yml
  deployment/molecule/oracle/prepare.yml
  deployment/molecule/oracle/tests/test_oracle.py
  deployment/molecule/prepare.yml
  deployment/molecule/tests/test_all.py
  deployment/molecule/ui/Dockerfile.j2
  deployment/molecule/ui/molecule.yml
  deployment/molecule/ui/tests/test_ui.py
Labels: deployment

#142 Add support for oracle gas price values not expressed in gwei
  deployment/group_vars/dai.yml
  deployment/group_vars/example.yml
  deployment/group_vars/wetc.yml
  deployment/roles/monitor/templates/.env.j2
  deployment/roles/oracle/templates/.env.j2
  deployment/roles/ui/templates/.env.j2
  e2e-commons/docker-compose.yml
  monitor/.env.example
  monitor/validators.js
  oracle/.env.example
  oracle/README.md
  oracle/src/services/gasPrice.js
  oracle/src/utils/constants.js
  oracle/test/gasPrice.test.js
  ui/.env.example
  ui/README.md
  ui/src/stores/GasPriceStore.js
  ui/src/stores/utils/__tests__/gas.test.js
  ui/src/stores/utils/gas.js
Labels: UI, monitor, oracle

#145 UI using Commons
  commons/abis.js
  ui/Dockerfile
  ui/src/components/Bridge.js
  ui/src/components/StatisticsPage.js
  ui/src/stores/ForeignStore.js
  ui/src/stores/HomeStore.js
  ui/src/stores/RootStore.js
  ui/src/stores/TxStore.js
  ui/src/stores/Web3Store.js
  ui/src/stores/__tests__/HomeStore.test.js
  ui/src/stores/utils/__tests__/contract.test.js
  ui/src/stores/utils/__tests__/rewardable.test.js
  ui/src/stores/utils/bridgeMode.js
  ui/src/stores/utils/contract.js
  ui/src/stores/utils/rewardable.js
Labels: UI, shared

#149 Building containers in deployment
  deployment/roles/monitor/tasks/jumpbox.yml
  deployment/roles/monitor/tasks/servinstall.yml
  deployment/roles/oracle/tasks/jumpbox.yml
  deployment/roles/oracle/tasks/servinstall.yml
  deployment/roles/ui/tasks/jumpbox.yml
  deployment/roles/ui/tasks/servinstall.yml
Labels: deployment

#153 Creating redis and rabbit with oracle
  e2e-commons/up.sh
Labels: e2e

#159 Cosistent TokenBridge naming
  README.md
  commons/README.md
  deployment/CONFIGURATION.md
  deployment/EXECUTION.md
  deployment/README.md
  deployment/molecule/TESTING.md
  e2e-commons/README.md
  monitor-e2e/README.md
  monitor/README.md
  oracle-e2e/README.md
  oracle/README.md
  package.json
  ui-e2e/README.md
  ui/README.md
Labels: documentation

#152 Remove default syslog server port
  deployment/roles/oracle/defaults/main.yml
Labels: deployment

#158 Ultimate E2E tests
  .circleci/config.yml
  deployment/molecule/TESTING.md
  deployment/molecule/docker-compose.yml
  deployment/molecule/molecule.sh
  deployment/molecule/ultimate-native-to-erc/converge.yml
  deployment/molecule/ultimate-native-to-erc/molecule.yml
  deployment/molecule/ultimate-native-to-erc/overwrite-docker-compose.yml
  deployment/roles/common/tasks/repo.yml
  e2e-commons/README.md
  e2e-commons/ULTIMATE.md
  e2e-commons/docker-compose.yml
  e2e-commons/down.sh
  e2e-commons/ultimate.png
  e2e-commons/up.sh
  oracle-e2e/package.json
Labels: e2e

#164 UI using abis from commons
  commons/abis.js
  commons/v1Abis.js
  monitor/stuckTransfers.js
  ui/src/stores/ForeignStore.js
  ui/src/stores/HomeStore.js
  ui/src/stores/utils/ERC20Bytes32.abi.json
  ui/src/stores/utils/HomeBridgeV1.abi.json
Labels: shared

#162 Monitor remote logging
  deployment/CONFIGURATION.md
  deployment/hosts.yml.example
  deployment/roles/common/files/daemon.json
  deployment/roles/monitor/tasks/logging.yml
  deployment/roles/monitor/tasks/main.yml
  deployment/roles/monitor/templates/33-monitor-docker.conf.j2
  deployment/roles/monitor/templates/38-monitor-remote-logging.conf.j2
Labels: deployment

#165 Common getTokenType used on UI, monitor and Oracle
  commons/test/getTokenType.js
  commons/utils.js
  monitor/utils/ercUtils.js
  monitor/utils/events.js
  oracle/scripts/initialChecks.js
  ui/src/stores/ForeignStore.js
  ui/src/stores/utils/__tests__/contract.test.js
  ui/src/stores/utils/contract.js
Labels: shared

#161 Add cron schedule to monitor deployment playbook
  deployment/CONFIGURATION.md
  deployment/group_vars/dai.yml
  deployment/group_vars/example.yml
  deployment/group_vars/wetc.yml
  deployment/hosts.yml.example
  deployment/roles/monitor/defaults/main.yml
  deployment/roles/monitor/tasks/cron.yml
  deployment/roles/monitor/tasks/main.yml
  deployment/roles/monitor/templates/.env.j2
  monitor/scripts/checkDocker.sh
Labels: deployment
